// Major sections of the page

@import
    'page-sections/author-info',
    'page-sections/categories',
    'page-sections/comments',
    'page-sections/footer',
    'page-sections/masthead',
    'page-sections/related-posts',
    'page-sections/sidebar',
    'page-sections/sidebar-custom';


// Content wrappers
.site-wrap {
    position: relative;
}

#content {
    padding-top: 20px;
    min-height: 50vh;
}
