// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// The custom X-LocaleSpecific font family is defined with a @font-face rule in
// locale-specific stylesheets which can be found at /media/css/l10n/. See
// /docs/l10n.rst for details.
$font-base: Inter, X-LocaleSpecific, sans-serif;
$font-firefox: Metropolis, Inter, X-LocaleSpecific, sans-serif;
$font-mozilla: 'Zilla Slab', Inter, X-LocaleSpecific, sans-serif;

$base-font-stack: $font-base;
$base-font-size: 100%;
$base-line-height: 1.5;


// Text colors
$color-text-primary:    #000;
$color-text-secondary:  #484848;
$color-text-tertiary:   #666;

// Brand colors
$color-brand-cyan:      #4eb5e6;
$color-brand-coral:     #ff8385;
$color-brand-yellow:    #ffed00;
$color-brand-lilac:     #b0b2e9;
$color-brand-orange:    #faba00;
$color-brand-lime:      #b6d806;
$color-brand-neonblue:  #0ff;
$color-brand-neonpink:  #fa8cff;
$color-brand-neongreen: #abff10;

// Legacy colors
$color-mozred:  #c13832;
$color-mozblue: #0c99d5;
$color-mozgray: #56565a;

// Link colors
$color-link:                #0060df;
$color-link-hover:          #0250bb;
$color-link-visited:        #b833e1;
$color-link-visited-hover:  #952bb9;

// Button colors
$color-button-blue:         #0060df;
$color-button-blue-hover:   #0250bb;
$color-button-light:        #fff;
$color-button-dark:         #000;
$color-button-green:        #16da00;
$color-button-orange:       #f26c23;

// Product brand colors
$color-firefox-light-orange: #ff9500;


// Content widths
$width-phone:           300px;
$width-phone-wide:      460px;
$width-tablet:          740px;
$width-desktop:         980px;
$width-desktop-wide:    1380px;


// for fluid width hub pages bug 1363708.
$width-max-content: 1420px; // 85px left padding + 1250px content + 85px right padding


// Media queries
$mq-phone:          'screen and (max-width: 480px)';
$mq-phone-wide:     'screen and (min-width: 480px)';
$mq-tablet:         'screen and (min-width: 760px)';
$mq-desktop:        'screen and (min-width: 1000px)';
$mq-desktop-wide:   'screen and (min-width: 1400px)';

$mq-high-res:       'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi)';

$mq-short:          '(max-height: 600px)';
$mq-tall:           '(min-height: 600px)';


// Grid columns
$column-width:  8.333%; // 100% / 12 columns
$gutter-width:  20px;


// Animation timings
$pebbles-timing-snap: cubic-bezier(.3, -.5, .6, 1.5);

