// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// The "Explore Drawer" (say that five times fast).
// Shows top categories and recent posts in each.

#explore {
    position: static;

    .module-title {
        @include font-size-level2;
    }

    .cat-list {
        @include hidden;
        text-align: center;

        li {
            display: inline;
        }

        a {
            @include category-link;

            &.on {
                background: #ccc;
            }
        }
    }

    .category {
        @include clearfix;
    }

    .category-title {
        @include font-size-level3;
        color: $color-mozred;
        margin: 1em 0;
        padding-top: 1em;
        border-top: 1px solid #ccc;
    }

    .category-post {
        margin: 0 0 1em;
    }

    .post-image {
        display: none;
    }

    &.active {
        background: #fff;
        box-shadow: 0 3px 1px rgba(0, 0, 0, .2);
        left: 0;
        min-height: 100px;
        padding-top: 3em;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 8;

        .cat-list {
            display: block;
        }

        .module-title,
        .category-title {
            @include visually-hidden;
        }

        .category-posts {
            @include flexbox;
            flex-wrap: wrap;
            margin: 0 auto 20px;
            max-width: $width-desktop-wide;
        }

        .category-post {
            @include border-box;
            margin-bottom: 20px;

            @media #{$mq-tablet} {
                @include span(4);
                max-width: 300px;
            }

            @media #{$mq-desktop} {
                @include span(2.4);
            }
        }

        .post-image {
            display: block;
            margin: 0 auto 10px;
        }
    }
}
