// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

#masthead {
    position: relative;
    overflow: hidden;
    background-color: #bbb;
    @include background-size(cover);

    .site-id {
        padding: 40px 20px;
        text-align: center;

        @media #{$mq-desktop} and #{$mq-tall} {
            padding: 80px 20px;
        }
    }

    .site-title-wrap {
        color: $color-mozred;
        margin: 0 auto;
        max-width: $width-tablet;
        text-shadow: 0 1px 0 rgba(255, 255, 255, .8);

        a {
            color: $color-mozred;
            text-decoration: none;
        }
    }
}

#site-title {
    @include font-size-level2;
    background: rgba(255, 255, 255, .75);
    display: inline-block;
    margin: -4% -5% -.25em -11.5%;
    padding: 4% 5% .2em 11.5%;
    position: relative;
    z-index: 3;
    min-width: 50%;

    @media #{$mq-tablet} {
        @include font-size-level1;
    }
}

#site-description {
    @include font-size-level3;
    background: rgba(255, 255, 255, .75);
    display: inline-block;
    line-height: 1.1;
    margin: 0 -12% -2% -7.5%;
    padding: .35em 12% 2.75% 7.5%;
    position: relative;
    z-index: 2;
    min-width: 50%;

    @media #{$mq-tablet} {
        @include font-size-level2;
    }
}



.single #masthead .site-id {
    padding: 20px;
}
