// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import
    '../includes/lib',
    'base-button';


// Common to all posts
.entry-link:link,
.entry-link:visited {
    text-decoration: none;
    color: $color-text-primary;

    &:hover,
    &:focus,
    &:active {
        color: $color-link;
        text-decoration: underline;
    }
}

.entry-info {
    @include font-size(14px);
    color: $color-text-secondary;
    margin-bottom: 20px;

    .vcard {
        border-right: 1px solid #ccc;
        display: inline-block;
        font-style: normal;
        margin-right: 10px;
        padding-right: 10px;

        a {
            color: $color-text-secondary;
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                color: $color-link;
                text-decoration: underline;
            }
        }
    }

    .date {
        display: inline-block;
    }
}

.alignleft {
    float: left;
    margin: 0 30px .5em -80px;
}

.alignright {
    float: right;
    margin: 0 -80px .5em 30px;
}

[dir='rtl'] {
    .alignleft {
        float: right;
        margin: 0 -80px .5em 30px;
    }

    .alignright {
        float: left;
        margin: 0 30px .5em -80px;
    }
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.5em;
}

.wp-caption {
    margin-bottom: .75em;
    max-width: 100%;
}

.wp-caption.aligncenter {
    clear: both;
    margin: 0 auto 1.5em;
}

.wp-caption img {
    display: block;
}

.wp-caption.aligncenter img {
    margin: 0 auto;
}

.wp-caption .wp-caption-text {
    font-style: italic;
    margin: .75em 10px 0;
    text-align: center;
}


// Full posts
.post-image-full {
    @include gradient-horizontal-three-colors(#fff, #ccc, 50%, #fff);
    margin: 0 auto 40px;
    padding: 0;
    text-align: center;

    img {
        display: block;
        margin: 0 auto;
    }
}

.single {
    .post {
        @include border-box;
        max-width: $width-desktop;
        padding: 0 60px;
        margin: 0 auto;
    }

    .entry-header {
        .entry-title {
            @include font-size-level1;
            margin-top: .5em;
        }

        .entry-tools {
            margin: 0 -20px 20px;
            @include clearfix;

            b {
                @include visually-hidden;
            }
        }

        .categories {
            @include span(7);
            margin-bottom: 20px;

            a {
                @include category-link;
            }
        }

        .entry-info {
            margin-bottom: 20px;

            .vcard {
                border-right: 1px solid #ccc;
                display: inline;
                font-style: normal;
                margin-right: 10px;
                padding-right: 10px;
            }

            .date {
                display: inline;
            }
        }

        .entry-comments,
        .edit {
            display: inline;
            border-left: 1px solid #ccc;
            margin-left: 10px;
            padding-left: 10px;
        }
    }

    .entry-meta .meta {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #ccc;
    }
}

.post .entry-content {
    @include clearfix;

    p:first-child {
        @include font-size(20px);

        &:first-line {
            @include font-size(24px);
        }

        &::first-letter {
            @include font-size(72px);
            line-height: .8;
            vertical-align: bottom;
            float: left;
            font-weight: bold;
            padding-top: .125em;
            letter-spacing: .075em;
            font-style: normal;
        }
    }

    ul {
        list-style: disc;
        margin-left: 30px;

        ul {
            list-style: circle;
            margin-left: 20px;
            margin-bottom: 0;
        }

        ol {
            list-style: decimal;
            margin-left: 20px;
            margin-bottom: 0;
        }
    }

    ol {
        list-style: decimal;
        margin-left: 30px;

        ol {
            list-style: lower-alpha;
            margin-left: 20px;
            margin-bottom: 0;
        }

        ul {
            list-style: disc;
            margin-left: 20px;
            margin-bottom: 0;
        }
    }

}


@media #{$mq-tablet} {
    .posts-wrap {
        display: flex;
        flex-wrap: wrap;

        .post {
            @include span(6);
        }
    }
}

@media #{$mq-desktop} {
    .posts-wrap .post {
        @include span(4);
    }
}
