// The basis for all buttons
@mixin base-button {
    @include font-size-level5;
    @include open-sans;
    @include transition(background-color 100ms ease-in-out);
    background: none;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    display: inline-block;
    padding: .5em 36px;
    position: relative;
    text-align: center;
    text-shadow: none;
    text-decoration: none;

    &:active {
        position: relative;
        top: 1px;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &.button-minor {
        @include font-size-small;
        padding: .25em 10px;
    }
}


// Common style for category links
@mixin category-link {
    @include font-size-level6;
    @include open-sans;
    @include transition(color 75ms ease-out, background-color 75ms ease-out);
    background: #eee;
    border: 1px solid rgba(0, 0, 0, .05);
    color: $color-text-secondary;
    display: inline-block;
    margin: 0 5px .25em 0;
    padding: .15em 15px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active {
        color: darken($color-link, 10%);
        background: #e3e3e3;
    }
}


// Narrower width for singular pages
@mixin single-size {
    @include border-box;
    margin: 0 auto;
    max-width: $width-desktop - 40px;

    @media #{$mq-phone-wide} {
        padding: 0 20px;
    }

    @media #{$mq-tablet} {
        padding: 0 60px;
    }
}
