@import '../../pebbles/includes/lib';


// Buttons for Twitter and Facebook.
// Appears at the top of posts and Pages.

.social-share {
    li {
        display: inline-block;
        margin: 0 5px .25em;
    }

    b {
        @include visually-hidden;
    }

    a {
        @include font-size-level5;
        @include transition(background-color 100ms ease-in-out);
        border-radius: 0;
        border-style: solid;
        border-width: 2px;
        color: #fff;
        display: inline-block;
        padding: 2px 10px 2px 35px;
        position: relative;
        text-align: center;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: #fff;
        }

        &.twitter {
            background: #1da1f2 url('img/twitter.svg') 6px center no-repeat;
            @include background-size(18px 18px);
            border-color: darken(#1da1f2, 5%);

            &:hover,
            &:focus {
                background-color: darken(#1da1f2, 5%);
            }
        }

        &.facebook {
            background: #3b5998 url('img/facebook.svg') 6px center no-repeat;
            @include background-size(18px 18px);
            border-color: darken(#3b5998, 5%);

            &:hover,
            &:focus {
                background-color: darken(#3b5998, 5%);
            }
        }
    }

    @media #{$mq-tablet} {
        width: 50%;
        float: right;
        text-align: right;

        a {
            @include font-size(16px); // keep the buttons small
        }
    }

    @media #{$mq-desktop} {
        width: 40%;
    }
}

