/* !important used for forceful overrides */
/* stylelint-disable declaration-no-important  */
@font-face { font-family: 'Fira Sans'; font-weight: normal; font-style: normal; src: url("fonts/FiraSans-Regular.woff2") format("woff2"), url("fonts/FiraSans-Regular.woff") format("woff"); }
@font-face { font-family: 'Fira Sans'; font-weight: bold; font-style: normal; src: url("fonts/FiraSans-Bold.woff2") format("woff2"), url("fonts/FiraSans-Bold.woff") format("woff"); }
@font-face { font-family: 'Fira Sans'; font-weight: normal; font-style: italic; src: url("fonts/FiraSans-Italic.woff2") format("woff2"), url("fonts/FiraSans-Italic.woff") format("woff"); }
@font-face { font-family: 'Fira Sans'; font-weight: bold; font-style: italic; src: url("fonts/FiraSans-BoldItalic.woff2") format("woff2"), url("fonts/FiraSans-BoldItalic.woff") format("woff"); }
/* line 10, sass/editor-style.scss */
html { font-size: 100%; }

/* line 14, sass/editor-style.scss */
body.wp-autoresize.mceContentBody { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #fff; color: #000; font-family: "Fira Sans", X-LocaleSpecific, sans-serif; font-size: 100%; line-height: 1.6; margin: 0 auto; max-width: 940px; padding: 20px !important; }
@media screen and (min-width: 480px) { /* line 14, sass/editor-style.scss */
  body.wp-autoresize.mceContentBody { padding: 30px 20px !important; } }
@media screen and (min-width: 760px) { /* line 14, sass/editor-style.scss */
  body.wp-autoresize.mceContentBody { padding: 30px 60px !important; } }
/* line 34, sass/editor-style.scss */
body.wp-autoresize.mceContentBody h1, body.wp-autoresize.mceContentBody h2, body.wp-autoresize.mceContentBody h3, body.wp-autoresize.mceContentBody h4, body.wp-autoresize.mceContentBody h5, body.wp-autoresize.mceContentBody h6, body.wp-autoresize.mceContentBody hr, body.wp-autoresize.mceContentBody p, body.wp-autoresize.mceContentBody pre, body.wp-autoresize.mceContentBody blockquote, body.wp-autoresize.mceContentBody figure, body.wp-autoresize.mceContentBody figcaption, body.wp-autoresize.mceContentBody table, body.wp-autoresize.mceContentBody ul, body.wp-autoresize.mceContentBody ol, body.wp-autoresize.mceContentBody li, body.wp-autoresize.mceContentBody dl, body.wp-autoresize.mceContentBody dt, body.wp-autoresize.mceContentBody dd { margin: 0; padding: 0; }
/* line 42, sass/editor-style.scss */
body.wp-autoresize.mceContentBody > p:first-child { font-size: 20px; font-size: 1.25rem; min-height: 70px; }
/* line 46, sass/editor-style.scss */
body.wp-autoresize.mceContentBody > p:first-child:first-line { font-size: 24px; font-size: 1.5rem; }
/* line 50, sass/editor-style.scss */
body.wp-autoresize.mceContentBody > p:first-child::first-letter { font-size: 72px; font-size: 4.5rem; background: #000; color: #fff; float: left; font-style: normal; font-weight: normal; letter-spacing: .075em; line-height: .8; margin-right: 4px; padding: .125em 0 .125em 5px; vertical-align: bottom; }
/* line 65, sass/editor-style.scss */
body.wp-autoresize.mceContentBody a { -webkit-transition: color 80ms ease-out; transition: color 80ms ease-out; color: #0096d5; text-decoration: underline; }
/* line 70, sass/editor-style.scss */
body.wp-autoresize.mceContentBody a:hover, body.wp-autoresize.mceContentBody a:focus, body.wp-autoresize.mceContentBody a:active, body.wp-autoresize.mceContentBody a:visited:hover, body.wp-autoresize.mceContentBody a:visited:focus, body.wp-autoresize.mceContentBody a:visited:active { color: #0072a2; text-decoration: underline; }
/* line 80, sass/editor-style.scss */
body.wp-autoresize.mceContentBody a:visited { color: #2ea7da; }
/* line 85, sass/editor-style.scss */
body.wp-autoresize.mceContentBody h1, body.wp-autoresize.mceContentBody h2, body.wp-autoresize.mceContentBody h3, body.wp-autoresize.mceContentBody h4, body.wp-autoresize.mceContentBody h5, body.wp-autoresize.mceContentBody h6, body.wp-autoresize.mceContentBody legend { font-weight: bold; line-height: 1.1; margin: 0 0 .25em; }
/* line 92, sass/editor-style.scss */
body.wp-autoresize.mceContentBody h1 { font-size: 38px; font-size: 2.375rem; }
@media screen and (min-width: 760px) { /* line 92, sass/editor-style.scss */
  body.wp-autoresize.mceContentBody h1 { font-size: 50px; font-size: 3.125rem; } }
/* line 96, sass/editor-style.scss */
body.wp-autoresize.mceContentBody h2 { font-size: 21px; font-size: 1.3125rem; }
@media screen and (min-width: 760px) { /* line 96, sass/editor-style.scss */
  body.wp-autoresize.mceContentBody h2 { font-size: 28px; font-size: 1.75rem; } }
/* line 100, sass/editor-style.scss */
body.wp-autoresize.mceContentBody h3 { font-size: 16px; font-size: 1rem; }
@media screen and (min-width: 760px) { /* line 100, sass/editor-style.scss */
  body.wp-autoresize.mceContentBody h3 { font-size: 21px; font-size: 1.3125rem; } }
/* line 104, sass/editor-style.scss */
body.wp-autoresize.mceContentBody h4, body.wp-autoresize.mceContentBody h5, body.wp-autoresize.mceContentBody h6 { font-size: 16px; font-size: 1rem; }
/* line 108, sass/editor-style.scss */
body.wp-autoresize.mceContentBody p, body.wp-autoresize.mceContentBody ul, body.wp-autoresize.mceContentBody ol, body.wp-autoresize.mceContentBody dl, body.wp-autoresize.mceContentBody pre, body.wp-autoresize.mceContentBody table, body.wp-autoresize.mceContentBody blockquote { margin-bottom: 1.25em; }
/* line 118, sass/editor-style.scss */
body.wp-autoresize.mceContentBody ul { list-style: disc; margin-left: 30px; padding: 0; }
/* line 123, sass/editor-style.scss */
body.wp-autoresize.mceContentBody ul ul { list-style: circle; margin-left: 20px; margin-bottom: 0; }
/* line 129, sass/editor-style.scss */
body.wp-autoresize.mceContentBody ul ol { list-style: decimal; margin-left: 20px; margin-bottom: 0; }
/* line 136, sass/editor-style.scss */
body.wp-autoresize.mceContentBody ol { list-style: decimal; margin-left: 30px; padding: 0; }
/* line 141, sass/editor-style.scss */
body.wp-autoresize.mceContentBody ol ol { list-style: lower-alpha; margin-left: 20px; margin-bottom: 0; }
/* line 147, sass/editor-style.scss */
body.wp-autoresize.mceContentBody ol ul { list-style: disc; margin-left: 20px; margin-bottom: 0; }
/* line 154, sass/editor-style.scss */
body.wp-autoresize.mceContentBody table { border-collapse: collapse; border-spacing: 0; }
/* line 158, sass/editor-style.scss */
body.wp-autoresize.mceContentBody table caption { text-align: left; padding-bottom: 1px; margin-bottom: -1px; width: 100%; }
/* line 165, sass/editor-style.scss */
body.wp-autoresize.mceContentBody table th, body.wp-autoresize.mceContentBody table td { border-top: 1px solid rgba(0, 0, 0, 0.2); padding: .5em 10px; text-align: left; }
/* line 172, sass/editor-style.scss */
body.wp-autoresize.mceContentBody table thead th, body.wp-autoresize.mceContentBody table thead td { border-top: 0; padding-top: 0; }
/* line 179, sass/editor-style.scss */
body.wp-autoresize.mceContentBody dt { font-style: italic; }
/* line 183, sass/editor-style.scss */
body.wp-autoresize.mceContentBody dd { padding-left: 30px; }
/* line 187, sass/editor-style.scss */
body.wp-autoresize.mceContentBody blockquote { border-left: 2px solid #000; color: #484848; padding: .25em 30px; }
/* line 192, sass/editor-style.scss */
body.wp-autoresize.mceContentBody blockquote > :last-child { margin-bottom: 0; }
/* line 197, sass/editor-style.scss */
body.wp-autoresize.mceContentBody pre { font-size: 14px; font-size: 0.875rem; overflow: auto; }
/* line 202, sass/editor-style.scss */
body.wp-autoresize.mceContentBody code { font-size: 14px; font-size: 0.875rem; }
/* line 206, sass/editor-style.scss */
body.wp-autoresize.mceContentBody hr { background: transparent; border-top: 1px solid #ccc; clear: both; color: transparent; margin: 30px auto; }
/* line 214, sass/editor-style.scss */
body.wp-autoresize.mceContentBody img { max-width: 100%; height: auto; }
/* line 219, sass/editor-style.scss */
body.wp-autoresize.mceContentBody iframe { max-width: 100%; }
/* line 223, sass/editor-style.scss */
body.wp-autoresize.mceContentBody .alignright { float: right; margin: 0 0 .5em 30px; }
/* line 227, sass/editor-style.scss */
body.wp-autoresize.mceContentBody .alignright.size-large, body.wp-autoresize.mceContentBody .alignright.size-medium body.wp-autoresize.mceContentBody .alignright.size-extra-large { float: none; display: block; margin: 0 0 1.5em; }
@media screen and (min-width: 480px) { /* line 237, sass/editor-style.scss */
  body.wp-autoresize.mceContentBody .alignleft.size-medium { float: left; margin: 0 30px .5em -20px; }
  /* line 242, sass/editor-style.scss */
  body.wp-autoresize.mceContentBody .alignright.size-medium { float: right; margin: 0 -20px .5em 30px; } }
@media screen and (min-width: 760px) { /* line 249, sass/editor-style.scss */
  body.wp-autoresize.mceContentBody .alignleft { margin-left: -60px; }
  /* line 252, sass/editor-style.scss */
  body.wp-autoresize.mceContentBody .alignleft.size-medium { margin-left: -60px; }
  /* line 257, sass/editor-style.scss */
  body.wp-autoresize.mceContentBody .alignright { margin-right: -60px; }
  /* line 260, sass/editor-style.scss */
  body.wp-autoresize.mceContentBody .alignright.size-medium { margin-right: -60px; } }
@media screen and (min-width: 1000px) { /* line 267, sass/editor-style.scss */
  body.wp-autoresize.mceContentBody .alignleft.size-large { float: left; margin: 0 30px .5em -60px; }
  /* line 272, sass/editor-style.scss */
  body.wp-autoresize.mceContentBody .alignright.size-large { float: right; margin: 0 -60px .5em 30px; } }
/* line 278, sass/editor-style.scss */
body.wp-autoresize.mceContentBody .aligncenter { clear: both; display: block; margin: 0 auto 1.5em; }
/* line 284, sass/editor-style.scss */
body.wp-autoresize.mceContentBody .wp-caption { margin-bottom: .75em; max-width: 100%; }
/* line 289, sass/editor-style.scss */
body.wp-autoresize.mceContentBody .wp-caption.aligncenter { clear: both; margin: 0 auto 1.5em; }
/* line 294, sass/editor-style.scss */
body.wp-autoresize.mceContentBody .wp-caption img { display: block; }
/* line 298, sass/editor-style.scss */
body.wp-autoresize.mceContentBody .wp-caption.aligncenter img { margin: 0 auto; }
/* line 302, sass/editor-style.scss */
body.wp-autoresize.mceContentBody .wp-caption .wp-caption-dd { font-style: italic; margin: .75em 10px 0; text-align: center; }
