article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, video, canvas { display: inline-block; }

html, body, form, fieldset, legend, h1, h2, h3, h4, h5, h6, hr, p, pre, blockquote, figure, figcaption, table, ul, ol, li, dl, dt, dd { margin: 0; padding: 0; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; }

blockquote, q { quotes: '' ''; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, iframe, a img { border: 0; }

input, select, textarea { font-family: inherit; font-size: 100%; }

img, video, object, embed { -ms-interpolation-mode: bicubic; height: auto; max-width: 100%; }

html { font-size: 100%; background: #fff; }

body { font-size: 18px; font-size: 1rem; background: #fff; color: #000; font-family: Inter, X-LocaleSpecific, sans-serif; line-height: 1.5; }

#strings { display: none; }

.hidden { display: none; }

.section, .content { zoom: 1; position: relative; }
.section:after, .content:after { clear: both; content: ''; display: block; height: 0; visibility: hidden; }

.content { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0 auto; padding: 20px; min-width: 300px; }
@media screen and (min-width: 760px) { .content { width: 740px; } }
@media screen and (min-width: 1000px) { .content { width: 980px; } }
@media screen and (min-width: 1400px) { .content { width: 1380px; } }

h1, h2, h3, h4, h5, h6, legend { font-family: "Zilla Slab", Inter, X-LocaleSpecific, sans-serif; font-weight: bold; line-height: 1.1; margin: 0 0 .25em; }

h1 { font-size: 36px; font-size: 2rem; }
@media screen and (min-width: 760px) { h1 { font-size: 48px; font-size: 2.6666666667rem; } }
@media screen and (min-width: 1000px) { h1 { font-size: 60px; font-size: 3.3333333333rem; } }

h2 { font-size: 24px; font-size: 1.3333333333rem; }
@media screen and (min-width: 760px) { h2 { font-size: 36px; font-size: 2rem; } }
@media screen and (min-width: 1000px) { h2 { font-size: 48px; font-size: 2.6666666667rem; } }

h3 { font-size: 18px; font-size: 1rem; }
@media screen and (min-width: 760px) { h3 { font-size: 24px; font-size: 1.3333333333rem; } }
@media screen and (min-width: 1000px) { h3 { font-size: 36px; font-size: 2rem; } }

h4 { font-size: 16px; font-size: 0.8888888889rem; }
@media screen and (min-width: 760px) { h4 { font-size: 18px; font-size: 1rem; } }
@media screen and (min-width: 1000px) { h4 { font-size: 24px; font-size: 1.3333333333rem; } }

h5 { font-size: 14px; font-size: 0.7777777778rem; }
@media screen and (min-width: 760px) { h5 { font-size: 16px; font-size: 0.8888888889rem; } }
@media screen and (min-width: 1000px) { h5 { font-size: 18px; font-size: 1rem; } }

h6 { font-size: 14px; font-size: 0.7777777778rem; }
@media screen and (min-width: 760px) { h6 { font-size: 16px; font-size: 0.8888888889rem; } }

p, ul, ol, dl, table, blockquote, pre { margin-bottom: 1.25em; }

:link { color: #0060df; text-decoration: underline; }
:link:hover { text-decoration: none; }
:link:active { background-color: rgba(0, 0, 0, 0.05); }

:visited { color: #b833e1; }
:visited:hover { color: #952bb9; }

.button, button.button, a.button:link, a.button:visited, .button.button-hollow, button.button.button-hollow, a.button.button-hollow:link, a.button.button-hollow:visited, button.form-button, input[type="submit"].form-button, input[type='button'].form-button { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 14px; font-size: 0.7777777778rem; -webkit-transition: background-color 100ms, border-color 100ms, color 100ms; transition: background-color 100ms, border-color 100ms, color 100ms; background: none; border-radius: 2px; border-style: solid; border-width: 2px; cursor: pointer; display: inline-block; padding: .5em 36px; position: relative; text-align: center; text-shadow: none; text-decoration: none; }
@media screen and (min-width: 760px) { .button, button.button, a.button:link, a.button:visited, .button.button-hollow, button.button.button-hollow, a.button.button-hollow:link, a.button.button-hollow:visited, button.form-button, input[type="submit"].form-button, input[type='button'].form-button { font-size: 16px; font-size: 0.8888888889rem; } }
@media screen and (min-width: 1000px) { .button, button.button, a.button:link, a.button:visited, .button.button-hollow, button.button.button-hollow, a.button.button-hollow:link, a.button.button-hollow:visited, button.form-button, input[type="submit"].form-button, input[type='button'].form-button { font-size: 18px; font-size: 1rem; } }
.button:active, a.button:active:link, a.button:active:visited, button.button.button-hollow:active, button.form-button:active, input[type="submit"].form-button:active, input[type='button'].form-button:active { position: relative; top: 1px; }
.button:hover, a.button:hover:link, a.button:hover:visited, button.button.button-hollow:hover, button.form-button:hover, input[type="submit"].form-button:hover, input[type='button'].form-button:hover, .button:focus, a.button:focus:link, a.button:focus:visited, button.button.button-hollow:focus, button.form-button:focus, input[type="submit"].form-button:focus, input[type='button'].form-button:focus { text-decoration: none; }

.button, button.button, a.button:link, a.button:visited { background-color: #0060df; border-color: transparent; color: #fff; }
.button:focus, .button:hover, button.button:focus, button.button:hover, a.button:link:focus, a.button:link:hover, a.button:visited:focus, a.button:visited:hover { -webkit-transform: none; transform: none; background-color: #0250bb; color: #fff; }
.button.button-dark, button.button.button-dark, a.button:link.button-dark, a.button:visited.button-dark { background-color: #000; border-color: #000; color: #fff; }
.button.button-dark:hover, .button.button-dark:focus, button.button.button-dark:hover, button.button.button-dark:focus, a.button:link.button-dark:hover, a.button:link.button-dark:focus, a.button:visited.button-dark:hover, a.button:visited.button-dark:focus { background-color: #0d0d0d; }
.button.button-green, button.button.button-green, a.button:link.button-green, a.button:visited.button-green { background-color: #16da00; border-color: #14cb00; color: #fff; }
.button.button-green:hover, .button.button-green:focus, button.button.button-green:hover, button.button.button-green:focus, a.button:link.button-green:hover, a.button:link.button-green:focus, a.button:visited.button-green:hover, a.button:visited.button-green:focus { background-color: #19f400; }
.button.button-red, button.button.button-red, a.button:link.button-red, a.button:visited.button-red { background-color: #c13832; border-color: #b5342f; color: #fff; }
.button.button-red:hover, button.button.button-red:hover, a.button:link.button-red:hover, a.button:visited.button-red:hover { background-color: #d93a33; }
.button.button-orange, button.button.button-orange, a.button:link.button-orange, a.button:visited.button-orange { background-color: #f26c23; border-color: #f16215; color: #fff; }
.button.button-orange:hover, .button.button-orange:focus, button.button.button-orange:hover, button.button.button-orange:focus, a.button:link.button-orange:hover, a.button:link.button-orange:focus, a.button:visited.button-orange:hover, a.button:visited.button-orange:focus { background-color: #fe7931; }
.button.button-product, button.button.button-product, a.button:link.button-product, a.button:visited.button-product { background-color: #0060df; border-color: #0060df; color: #fff; }
.button.button-product:hover, .button.button-product:focus, button.button.button-product:hover, button.button.button-product:focus, a.button:link.button-product:hover, a.button:link.button-product:focus, a.button:visited.button-product:hover, a.button:visited.button-product:focus { background-color: #003eaa; border-color: #003eaa; }
.button.button-minor, button.button.button-minor, a.button:link.button-minor, a.button:visited.button-minor { font-size: 12px; font-size: 0.6666666667rem; padding: .25em 20px; }
@media screen and (min-width: 760px) { .button.button-minor, button.button.button-minor, a.button:link.button-minor, a.button:visited.button-minor { font-size: 14px; font-size: 0.7777777778rem; } }

.button.button-hollow, button.button.button-hollow, a.button.button-hollow:link, a.button.button-hollow:visited, button.form-button, input[type="submit"].form-button, input[type='button'].form-button { background-color: transparent; border-color: #0c99d5; color: #0c99d5; }
.button.button-hollow:hover, .button.button-hollow:focus, button.button.button-hollow:hover, button.button.button-hollow:focus, a.button.button-hollow:link:hover, a.button.button-hollow:link:focus, a.button.button-hollow:visited:hover, a.button.button-hollow:visited:focus, button.form-button:hover, button.form-button:focus, input[type="submit"].form-button:hover, input[type="submit"].form-button:focus, input[type='button'].form-button:hover, input[type='button'].form-button:focus { background-color: rgba(12, 153, 213, 0.05); border-color: #01affa; color: #01affa; }
.button.button-hollow.button-light, button.button.button-hollow.button-light, a.button.button-hollow:link.button-light, a.button.button-hollow:visited.button-light, button.form-button.button-light, input[type="submit"].form-button.button-light, input[type='button'].form-button.button-light { color: #fff; border-color: #fff; }
.button.button-hollow.button-light:hover, .button.button-hollow.button-light:focus, button.button.button-hollow.button-light:hover, button.button.button-hollow.button-light:focus, a.button.button-hollow:link.button-light:hover, a.button.button-hollow:link.button-light:focus, a.button.button-hollow:visited.button-light:hover, a.button.button-hollow:visited.button-light:focus, button.form-button.button-light:hover, button.form-button.button-light:focus, input[type="submit"].form-button.button-light:hover, input[type="submit"].form-button.button-light:focus, input[type='button'].form-button.button-light:hover, input[type='button'].form-button.button-light:focus { background-color: rgba(255, 255, 255, 0.05); border-color: #f2f2f2; color: #f2f2f2; }
.button.button-hollow.button-dark, button.button.button-hollow.button-dark, a.button.button-hollow:link.button-dark, a.button.button-hollow:visited.button-dark, button.form-button.button-dark, input[type="submit"].form-button.button-dark, input[type='button'].form-button.button-dark { color: #000; border-color: #000; }
.button.button-hollow.button-dark:hover, .button.button-hollow.button-dark:focus, button.button.button-hollow.button-dark:hover, button.button.button-hollow.button-dark:focus, a.button.button-hollow:link.button-dark:hover, a.button.button-hollow:link.button-dark:focus, a.button.button-hollow:visited.button-dark:hover, a.button.button-hollow:visited.button-dark:focus, button.form-button.button-dark:hover, button.form-button.button-dark:focus, input[type="submit"].form-button.button-dark:hover, input[type="submit"].form-button.button-dark:focus, input[type='button'].form-button.button-dark:hover, input[type='button'].form-button.button-dark:focus { background-color: rgba(0, 0, 0, 0.05); border-color: #0d0d0d; color: #0d0d0d; }
.button.button-hollow.button-red, button.button.button-hollow.button-red, a.button.button-hollow:link.button-red, a.button.button-hollow:visited.button-red, button.form-button.button-red, input[type="submit"].form-button.button-red, input[type='button'].form-button.button-red { color: #c13832; border-color: #c13832; }
.button.button-hollow.button-red:hover, .button.button-hollow.button-red:focus, button.button.button-hollow.button-red:hover, button.button.button-hollow.button-red:focus, a.button.button-hollow:link.button-red:hover, a.button.button-hollow:link.button-red:focus, a.button.button-hollow:visited.button-red:hover, a.button.button-hollow:visited.button-red:focus, button.form-button.button-red:hover, button.form-button.button-red:focus, input[type="submit"].form-button.button-red:hover, input[type="submit"].form-button.button-red:focus, input[type='button'].form-button.button-red:hover, input[type='button'].form-button.button-red:focus { background-color: rgba(193, 56, 50, 0.05); border-color: #d93a33; color: #d93a33; }

#newsletter-form .form-button { width: 100%; }

ul, ol { list-style: none; }

ul.prose { list-style: disc; margin-left: 30px; }
ul.prose ul { list-style: circle; margin-left: 20px; margin-bottom: 0; }
ul.prose ol { list-style: decimal; margin-left: 20px; margin-bottom: 0; }

ol.prose { list-style: decimal; margin-left: 30px; }
ol.prose ol { list-style: lower-alpha; margin-left: 20px; margin-bottom: 0; }
ol.prose ul { list-style: disc; margin-left: 20px; margin-bottom: 0; }

[dir='rtl'] ul.prose, [dir='rtl'] ol.prose { margin-left: 0; margin-right: 30px; }
[dir='rtl'] ul.prose ul, [dir='rtl'] ul.prose ol, [dir='rtl'] ol.prose ul, [dir='rtl'] ol.prose ol { margin-left: 0; margin-right: 20px; }

.data-table { border-collapse: collapse; border-spacing: 0; }
.data-table caption { text-align: left; padding-bottom: 1px; /* fix to get it to look nice in many browsers */ margin-bottom: -1px; width: 100%; }
.data-table th, .data-table td { border-top: 1px solid rgba(0, 0, 0, 0.2); padding: .5em 10px; text-align: left; }
.data-table thead th, .data-table thead td { border-top: 0; padding-top: 0; }

[dir='rtl'] .data-table caption, [dir='rtl'] .data-table th, [dir='rtl'] .data-table td { text-align: right; }

button, input, select, textarea { font-family: Inter, X-LocaleSpecific, sans-serif; }

textarea { height: auto; max-width: 100%; }

textarea, input[type=email], input[type=url], input[type=tel], input[type=password], input[type=search], input[type=text], input[type=number], input[type=date], input[type=time] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 100ms linear; transition: all 100ms linear; background: #fff; border-radius: 2px; border: 1px solid #b2b2b2; display: inline-block; line-height: 1.25; padding: .25em 10px; }

textarea:focus, input[type=email]:focus, input[type=password]:focus, input[type=search]:focus, input[type=text]:focus, input[type=tel]:focus, input.focus { -webkit-transition: all 100ms linear; transition: all 100ms linear; border-color: #42a4e0; box-shadow: 0 0 0 2px rgba(73, 173, 227, 0.4); }

select:focus { box-shadow: 0 0 0 2px rgba(73, 173, 227, 0.4); }

textarea:-moz-ui-invalid:not(output), input[type=email]:-moz-ui-invalid:not(output), input[type=password]:-moz-ui-invalid:not(output), input[type=search]:-moz-ui-invalid:not(output), input[type=text]:-moz-ui-invalid:not(output), input[type=tel]:-moz-ui-invalid:not(output), input.invalid { -webkit-transition: all 100ms linear; transition: all 100ms linear; border-color: #a91300; box-shadow: 0 0 0 2px rgba(255, 80, 80, 0.4); }

#strings { display: none; }

body { margin: 20px 30px; }

.center { text-align: center; }

img { -ms-interpolation-mode: bicubic; }

label { display: block; }

.masthead .toggle { display: none; /* oldIE never gets a mobile menu. */ }

/* oldIE never gets slide out drawer */
.moz-global-nav .nav-button-menu { display: none; }

.moz-global-nav-drawer { display: none; }

#colophon .logo { font-size: 100%; }

.visually-hidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; /* !important required to ensure element is hidden when mixin is applied */ position: absolute !important; /* stylelint-disable-line declaration-no-important */ width: 1px; }

.hidden { display: none; }
