// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// Utility navigation below the header.
// Features toggles for the sidebar and explore drawer and a link to the front page.

#nav-util {
    background: #eee;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-top: 1px solid rgba(0, 0, 0, .1);
    position: relative;
    z-index: 10;

    .content {
        @include flexbox;
        padding: 10px 20px;
    }

    li {
        display: inline-block;
        width: 33%;

        &.nav-util-sidebar {
            text-align: left;
        }

        &.nav-util-explore {
            text-align: center;
        }

        &.nav-util-home {
            text-align: right;
        }
    }

    a {
        color: $color-text-secondary;
        font-weight: bold;
        text-decoration: none;
        padding-left: 25px;
        position: relative;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &:before {
            @include background-size(20px 100px);
            background-image: url('img/icon-sprite.svg');
            background-repeat: no-repeat;
            bottom: 0;
            content: '';
            display: inline-block;
            height: 18px;
            left: 0;
            position: absolute;
            width: 20px;
        }
    }

    .nav-util-sidebar a:before {
        background-position: 0 0;
    }

    .nav-util-sidebar a.close:before {
        background-position: 0 -20px;
    }

    .nav-util-explore a:before {
        background-position: 0 -40px;
    }

    .nav-util-explore a.close:before {
        background-position: 0 -60px;
    }

    .nav-util-home a:before {
        background-position: 0 -80px;
    }
}
