// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.


// The "Explore Drawer" (say that five times fast).
// Shows top categories and recent posts in each.

#explore {
    .cat-list {
        text-align: center;

        li {
            display: inline;
        }

        a {
            @include category-link;

            &.on {
                background: #ccc;
            }
        }
    }

    .category {
        @include clearfix;
    }

    .category-title {
        color: $color-mozred;
        margin: 1em 10px;
        padding-top: 1em;
        border-top: 1px solid #ccc;
    }

    .category-posts {
        @include flexbox;
        margin: 0 auto 20px;
        max-width: 1500px;
    }

    .category-post {
        @include border-box;
        @include span(2.4);
        max-width: 300px;
    }

    .post-mini {
        .entry-title {
            padding: 0 10px;
        }

        .date {
            @include font-size(14px);
            color: $color-text-secondary;
            padding: 0 10px;
        }
    }

    .post-image {
        display: none;
    }
}

.js #explore {
    background: #fff;
    box-shadow: 0 3px 1px rgba(0, 0, 0, .2);
    left: 0;
    min-height: 100px;
    position: absolute;
    top: 50px;
    width: 100%;

    .category-title {
        @include visually-hidden;
    }

    .post-image {
        display: block;
        margin: 0 auto 10px;
    }
}
