// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

@import '../../includes/mixins/base-button';


// The global sidebar (blog menu)

.js #sidebar {
    @include hidden;
}

#sidebar {
    @include border-box;
    flex-wrap: wrap;
    background: #eee;
    padding: 20px;

    &.active {
        @include transition(transform 600ms cubic-bezier(.30, -0.5, .60, 1.1));
        background: #fff;
        box-shadow: 3px 0 1px rgba(0, 0, 0, .2);
        left: 0;
        max-width: 600px;
        min-height: 100%;
        min-width: 260px;
        padding: 80px 20px 40px;
        position: absolute;
        top: 0;
        transform: translateX(-101%); // Extra 1% to hide the shadow
        width: 33%;
        z-index: 9;

        @media #{$mq-tablet} {
            padding: 80px 40px 40px;
        }

        &.show {
            display: block;
            transform: none;
        }

        .content {
            display: block;
            flex-wrap: nowrap;
            min-width: 0;
            padding: 0;
            width: auto;
        }

        .widget {
            margin-bottom: 40px;
            padding: 0;
            width: auto;
            float: none;
        }
    }

    .content {
        @include flexbox;
        flex-wrap: wrap;
    }

    .widget {
        @include span(4);
    }

    .widget-title {
        @include font-size-level3;
        color: $color-mozred;
        margin: 0;
        padding-bottom: .5em;
    }

    .widget_nav_menu,
    .widget_categories,
    .widget_recent_entries,
    .widget_recent_comments,
    .widget_pages {
        ul {
            border-top: 1px solid rgba(0, 0, 0, .05);
        }

        li {
            border-bottom: 1px solid rgba(0, 0, 0, .05);
            margin: 0;
        }

        a {
            @include transition(background-color 80ms ease-out);
            display: block;
            padding: .25em 4px;
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                background-color: rgba(0, 0, 0, .02);
            }
        }
    }

    .widget_tag_cloud .tagcloud {
        line-height: 1.2;
        text-align: center;

        a {
            vertical-align: middle;
        }
    }

}
