@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/FiraSans-Regular.eot?#iefix") format("embedded-opentype"); }
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: bold;
  src: url("fonts/FiraSans-Bold.eot?#iefix") format("embedded-opentype"); }
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: normal;
  src: url("fonts/FiraSans-Italic.eot?#iefix") format("embedded-opentype"); }
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: bold;
  src: url("fonts/FiraSans-BoldItalic.eot?#iefix") format("embedded-opentype"); }
article, aside, details, figcaption, figure, footer, header,
hgroup, main, nav, section, summary {
  display: block; }

audio, video, canvas {
  display: inline-block; }

html, body, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, hr,
p, pre, blockquote, figure, figcaption,
table, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

blockquote, q {
  quotes: '' ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, iframe, a img {
  border: 0; }

input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

img, video, object, embed {
  -ms-interpolation-mode: bicubic;
  height: auto;
  max-width: 100%; }

html {
  font-size: 100%;
  background: #fff; }

body {
  font-size: 100%;
  background: #fff;
  color: #444;
  font-family: "Fira Sans", X-LocaleSpecific, sans-serif;
  line-height: 1.6; }

#strings {
  display: none; }

.hidden {
  display: none; }

h1, h2, h3, h4, h5, h6, legend {
  font-weight: bold;
  line-height: 1.1;
  margin: 0 0 .25em; }

h1 {
  font-size: 38px;
  font-size: 2.375rem; }
  @media screen and (min-width: 760px) {
    h1 {
      font-size: 50px;
      font-size: 3.125rem; } }

h2 {
  font-size: 28px;
  font-size: 1.75rem; }
  @media screen and (min-width: 760px) {
    h2 {
      font-size: 38px;
      font-size: 2.375rem; } }

h3 {
  font-size: 21px;
  font-size: 1.3125rem; }
  @media screen and (min-width: 760px) {
    h3 {
      font-size: 28px;
      font-size: 1.75rem; } }

h4 {
  font-size: 16px;
  font-size: 1rem; }
  @media screen and (min-width: 760px) {
    h4 {
      font-size: 21px;
      font-size: 1.3125rem; } }

h5, h6 {
  font-size: 16px;
  font-size: 1rem; }

p,
ul,
ol,
dl,
table {
  margin-bottom: 1.25em; }

a {
  color: #00a7e0;
  text-decoration: underline; }
  a:hover, a:focus, a:active, a:visited:hover, a:visited:focus, a:visited:active {
    color: #0081ad;
    text-decoration: underline; }
  a:visited {
    color: #75bad1; }

ul, ol {
  list-style: none; }

.entry-content ul,
.entry-summary ul {
  list-style: disc;
  margin-left: 30px; }
  .entry-content ul ul,
  .entry-summary ul ul {
    list-style: circle;
    margin-left: 20px;
    margin-bottom: 0; }
  .entry-content ul ol,
  .entry-summary ul ol {
    list-style: decimal;
    margin-left: 20px;
    margin-bottom: 0; }
.entry-content ol,
.entry-summary ol {
  list-style: decimal;
  margin-left: 30px; }
  .entry-content ol ol,
  .entry-summary ol ol {
    list-style: lower-alpha;
    margin-left: 20px;
    margin-bottom: 0; }
  .entry-content ol ul,
  .entry-summary ol ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 0; }

[dir='rtl'] .entry-content ul,
[dir='rtl'] .entry-content ol,
[dir='rtl'] .entry-summary ul,
[dir='rtl'] .entry-summary ol {
  margin-left: 0;
  margin-right: 30px; }
  [dir='rtl'] .entry-content ul ul,
  [dir='rtl'] .entry-content ul ol,
  [dir='rtl'] .entry-content ol ul,
  [dir='rtl'] .entry-content ol ol,
  [dir='rtl'] .entry-summary ul ul,
  [dir='rtl'] .entry-summary ul ol,
  [dir='rtl'] .entry-summary ol ul,
  [dir='rtl'] .entry-summary ol ol {
    margin-left: 0;
    margin-right: 20px; }

.data-table {
  border-collapse: collapse;
  border-spacing: 0; }
  .data-table caption {
    text-align: left;
    padding-bottom: 1px;
    /* fix to get it to look nice in many browsers */
    margin-bottom: -1px;
    width: 100%; }
  .data-table th,
  .data-table td {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: .5em 10px;
    text-align: left; }
  .data-table thead th,
  .data-table thead td {
    border-top: 0;
    padding-top: 0; }

[dir='rtl'] .data-table caption,
[dir='rtl'] .data-table th,
[dir='rtl'] .data-table td {
  text-align: right; }

button,
input,
select,
textarea {
  font-family: inherit; }

textarea {
  height: auto;
  max-width: 100%; }

textarea,
input[type=email],
input[type=url],
input[type=tel],
input[type=password],
input[type=search],
input[type=text],
input[type=number],
input[type=date],
input[type=time] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  background: #fff;
  border-radius: .3em;
  border: 1px solid #b2b2b2;
  display: inline-block;
  line-height: 1.25;
  padding: .25em 10px; }

textarea:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input.focus {
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  border-color: #42a4e0;
  box-shadow: 0 0 0 2px rgba(73, 173, 227, 0.4); }

select:focus {
  box-shadow: 0 0 0 2px rgba(73, 173, 227, 0.4); }

textarea:-moz-ui-invalid:not(output),
input[type=email]:-moz-ui-invalid:not(output),
input[type=password]:-moz-ui-invalid:not(output),
input[type=search]:-moz-ui-invalid:not(output),
input[type=text]:-moz-ui-invalid:not(output),
input[type=tel]:-moz-ui-invalid:not(output),
input.invalid {
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  border-color: #a91300;
  box-shadow: 0 0 0 2px rgba(255, 80, 80, 0.4); }

label {
  display: block; }

/* the basis for all buttons on bedrock */
.button,
button.button,
a.button:link,
a.button:visited {
  font-size: 18px;
  font-size: 1.125rem;
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  background: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  padding: .5em 36px;
  position: relative;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  background-color: #0c99d5;
  border-color: #0b8fc7;
  color: #fff; }
  @media screen and (min-width: 760px) {
    .button,
    button.button,
    a.button:link,
    a.button:visited {
      font-size: 20px;
      font-size: 1.25rem; } }
  .button:active,
  button.button:active,
  a.button:link:active,
  a.button:visited:active {
    position: relative;
    top: 1px; }
  .button:hover, .button:focus,
  button.button:hover,
  button.button:focus,
  a.button:link:hover,
  a.button:link:focus,
  a.button:visited:hover,
  a.button:visited:focus {
    text-decoration: none; }
  .button.button-minor,
  button.button.button-minor,
  a.button:link.button-minor,
  a.button:visited.button-minor {
    font-size: 14px;
    font-size: 0.875rem;
    padding: .25em 10px; }
  .button:hover, .button:focus,
  button.button:hover,
  button.button:focus,
  a.button:link:hover,
  a.button:link:focus,
  a.button:visited:hover,
  a.button:visited:focus {
    background-color: #01affa; }
  .button.dark,
  button.button.dark,
  a.button:link.dark,
  a.button:visited.dark {
    background-color: #00539f;
    border-color: #004b90;
    color: #fff; }
    .button.dark:hover, .button.dark:focus,
    button.button.dark:hover,
    button.button.dark:focus,
    a.button:link.dark:hover,
    a.button:link.dark:focus,
    a.button:visited.dark:hover,
    a.button:visited.dark:focus {
      background-color: #0060b8; }
  .button.green,
  button.button.green,
  a.button:link.green,
  a.button:visited.green {
    background-color: #4caf50;
    border-color: #47a44b;
    color: #fff; }
    .button.green:hover, .button.green:focus,
    button.button.green:hover,
    button.button.green:focus,
    a.button:link.green:hover,
    a.button:link.green:focus,
    a.button:visited.green:hover,
    a.button:visited.green:focus {
      background-color: #51c455; }
  .button.red,
  button.button.red,
  a.button:link.red,
  a.button:visited.red {
    background-color: #c13832;
    border-color: #b5342f;
    color: #fff; }
    .button.red:hover,
    button.button.red:hover,
    a.button:link.red:hover,
    a.button:visited.red:hover {
      background-color: #d93a33; }
  .button.orange,
  button.button.orange,
  a.button:link.orange,
  a.button:visited.orange {
    background-color: #f26c23;
    border-color: #f16215;
    color: #fff; }
    .button.orange:hover, .button.orange:focus,
    button.button.orange:hover,
    button.button.orange:focus,
    a.button:link.orange:hover,
    a.button:link.orange:focus,
    a.button:visited.orange:hover,
    a.button:visited.orange:focus {
      background-color: #fe7931; }

.button.hollow,
button.button.hollow,
a.button.hollow:link,
a.button.hollow:visited,
button.form-button,
input[type="submit"].form-button,
input[type='button'].form-button {
  font-size: 18px;
  font-size: 1.125rem;
  -webkit-transition: background-color 100ms ease-in-out;
  transition: background-color 100ms ease-in-out;
  background: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  padding: .5em 36px;
  position: relative;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  background-color: transparent;
  border-color: #0c99d5;
  color: #0c99d5; }
  @media screen and (min-width: 760px) {
    .button.hollow,
    button.button.hollow,
    a.button.hollow:link,
    a.button.hollow:visited,
    button.form-button,
    input[type="submit"].form-button,
    input[type='button'].form-button {
      font-size: 20px;
      font-size: 1.25rem; } }
  .button.hollow:active,
  button.button.hollow:active,
  a.button.hollow:link:active,
  a.button.hollow:visited:active,
  button.form-button:active,
  input[type="submit"].form-button:active,
  input[type='button'].form-button:active {
    position: relative;
    top: 1px; }
  .button.hollow:hover, .button.hollow:focus,
  button.button.hollow:hover,
  button.button.hollow:focus,
  a.button.hollow:link:hover,
  a.button.hollow:link:focus,
  a.button.hollow:visited:hover,
  a.button.hollow:visited:focus,
  button.form-button:hover,
  button.form-button:focus,
  input[type="submit"].form-button:hover,
  input[type="submit"].form-button:focus,
  input[type='button'].form-button:hover,
  input[type='button'].form-button:focus {
    text-decoration: none; }
  .button.hollow.button-minor,
  button.button.hollow.button-minor,
  a.button.hollow:link.button-minor,
  a.button.hollow:visited.button-minor,
  button.form-button.button-minor,
  input[type="submit"].form-button.button-minor,
  input[type='button'].form-button.button-minor {
    font-size: 14px;
    font-size: 0.875rem;
    padding: .25em 10px; }
  .button.hollow:hover, .button.hollow:focus,
  button.button.hollow:hover,
  button.button.hollow:focus,
  a.button.hollow:link:hover,
  a.button.hollow:link:focus,
  a.button.hollow:visited:hover,
  a.button.hollow:visited:focus,
  button.form-button:hover,
  button.form-button:focus,
  input[type="submit"].form-button:hover,
  input[type="submit"].form-button:focus,
  input[type='button'].form-button:hover,
  input[type='button'].form-button:focus {
    background-color: rgba(12, 153, 213, 0.05);
    border-color: #01affa;
    color: #01affa; }
  .button.hollow.light,
  button.button.hollow.light,
  a.button.hollow:link.light,
  a.button.hollow:visited.light,
  button.form-button.light,
  input[type="submit"].form-button.light,
  input[type='button'].form-button.light {
    color: #fff;
    border-color: #fff; }
    .button.hollow.light:hover, .button.hollow.light:focus,
    button.button.hollow.light:hover,
    button.button.hollow.light:focus,
    a.button.hollow:link.light:hover,
    a.button.hollow:link.light:focus,
    a.button.hollow:visited.light:hover,
    a.button.hollow:visited.light:focus,
    button.form-button.light:hover,
    button.form-button.light:focus,
    input[type="submit"].form-button.light:hover,
    input[type="submit"].form-button.light:focus,
    input[type='button'].form-button.light:hover,
    input[type='button'].form-button.light:focus {
      background-color: rgba(255, 255, 255, 0.05);
      border-color: #f2f2f2;
      color: #f2f2f2; }
  .button.hollow.dark,
  button.button.hollow.dark,
  a.button.hollow:link.dark,
  a.button.hollow:visited.dark,
  button.form-button.dark,
  input[type="submit"].form-button.dark,
  input[type='button'].form-button.dark {
    color: #00539f;
    border-color: #00539f; }
    .button.hollow.dark:hover, .button.hollow.dark:focus,
    button.button.hollow.dark:hover,
    button.button.hollow.dark:focus,
    a.button.hollow:link.dark:hover,
    a.button.hollow:link.dark:focus,
    a.button.hollow:visited.dark:hover,
    a.button.hollow:visited.dark:focus,
    button.form-button.dark:hover,
    button.form-button.dark:focus,
    input[type="submit"].form-button.dark:hover,
    input[type="submit"].form-button.dark:focus,
    input[type='button'].form-button.dark:hover,
    input[type='button'].form-button.dark:focus {
      background-color: rgba(0, 83, 159, 0.05);
      border-color: #0060b8;
      color: #0060b8; }
  .button.hollow.red,
  button.button.hollow.red,
  a.button.hollow:link.red,
  a.button.hollow:visited.red,
  button.form-button.red,
  input[type="submit"].form-button.red,
  input[type='button'].form-button.red {
    color: #c13832;
    border-color: #c13832; }
    .button.hollow.red:hover, .button.hollow.red:focus,
    button.button.hollow.red:hover,
    button.button.hollow.red:focus,
    a.button.hollow:link.red:hover,
    a.button.hollow:link.red:focus,
    a.button.hollow:visited.red:hover,
    a.button.hollow:visited.red:focus,
    button.form-button.red:hover,
    button.form-button.red:focus,
    input[type="submit"].form-button.red:hover,
    input[type="submit"].form-button.red:focus,
    input[type='button'].form-button.red:hover,
    input[type='button'].form-button.red:focus {
      background-color: rgba(193, 56, 50, 0.05);
      border-color: #d93a33;
      color: #d93a33; }

#newsletter-form .form-button {
  width: 100%; }

body {
  margin: 20px 30px; }

.center {
  text-align: center; }

img {
  -ms-interpolation-mode: bicubic; }

label {
  display: block; }

.masthead .toggle {
  display: none;
  /* oldIE never gets a mobile menu. */ }

#colophon .logo {
  font-size: 100%; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px; }

.hidden {
  display: none; }
