// Just the small thumbnail, title, and date

.post-mini {
    .entry-title {
        padding: 0 10px;
    }

    &.post-thumb-disabled .entry-title:before {
        border-top: 2px solid #000;
        content: '';
        display: block;
        margin-bottom: 20px;
    }

    .date {
        @include font-size-small;
        padding: 0 10px;
    }
}
