// Global navigation bar at the top of the page.
// Features Mozilla logo and links to other Mozilla sites.

.nav-global {
    @include clearfix;
    @include font-size-level5;
    @include transition(height 250ms ease-in-out, padding 250ms ease-in-out);
    background: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    color: $color-text-primary;
    left: 0;
    height: 1.2em;
    padding: .5em 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 90;

    .content {
        padding: 0 20px;
    }

    .logo {
        @include font-size-small;
        @include transition(width 250ms ease-in-out, height 250ms ease-in-out);
        float: right;
        height: 20px;
        line-height: 1;
        width: 63px;

        a {
            @include background-size(cover);
            @include image-replaced;
            @include transition(background-size 250ms ease-in-out, -webkit-background-size 250ms ease-in-out);
            background-image: url('img/mozilla-wordmark-black.svg');
            background-repeat: no-repeat;
            display: block;
            height: 100%;
            width: 100%;
        }

        @media #{$mq-desktop} {
            float: left;
        }
    }

    .nav-global-fxdownload {
        left: 50px;
        margin: 0;
        position: absolute;
        top: .25em;
        width: 190px;

        .button {
            @include font-size-level6;
            @include transition(font-size 250ms ease-in-out, padding 250ms ease-in-out, background-color 100ms, border-color 100ms, color 100ms);
            margin: 0 auto;
            padding: 0 15px;

            &.button-product {
                background-color: transparent;
                border-color: #0060df;
                color: #0060df;

                &:hover,
                &:focus {
                    background-color: #003eaa;
                    border-color: #003eaa;
                    color: $color-button-light;
                }
            }
        }

        @media #{$mq-desktop} {
            position: static;
            width: auto;
            display: inline-block;

            .button {
                padding: .25em 20px;
            }
        }
    }
}

.nav-mozilla {
    left: 0;
    position: absolute;
    top: -.5em;
    z-index: 98;

    .toggle {
        @include image-replaced;
        background: #000 url('img/icon-menu-white.svg') center center no-repeat;
        @include background-size(22px auto);
        cursor: pointer;
        display: block;
        height: 2.2em;
        overflow: hidden;
        position: relative;
        width: 2.2em;
    }
}

.nav-mozilla-menu {
    @include transition(font-size 250ms ease-in-out, padding 250ms ease-in-out);
    background-color: #fff;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, .2);
    left: -300px;
    line-height: 1.1;
    margin: 0;
    overflow: visible;
    position: absolute;
    top: 2.2em;
    width: 200px;
    z-index: 99;

    li {
        border-bottom: 1px solid #ccc;

        &:last-child {
            border: 0;
        }
    }

    a {
        @include transition(background-color 150ms ease, border-width 150ms ease, padding 150ms ease);
        background: #fff;
        color: $color-text-primary;
        display: block;
        padding: 10px 20px;
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: #f5f5f5;
            border-right: 6px solid #000;
            text-decoration: underline;
        }
    }

    .nav-global-donate a,
    .nav-global-firefox a {
        padding-left: 30px;

        &:before {
            @include background-size(25px 200px);
            background-image: url('img/icon-sprite.svg');
            background-repeat: no-repeat;
            content: '';
            display: inline-block;
            height: 20px;
            margin: 0 5px -.25em -30px;
            width: 25px;
        }
    }

    .nav-global-donate a {
        &:before {
            background-position: 0 -100px;
        }

        &:hover:before,
        &:focus:before {
            background-position: 0 -120px;
        }
    }

    .nav-global-firefox a {
        &:before {
            background-position: 0 -140px;
        }

        &:hover:before,
        &:focus:before {
            background-position: 0 -160px;
        }
    }
}

.nav-mozilla:hover .nav-mozilla-menu,
.nav-mozilla-menu:target {
    left: auto;
}

.js .nav-mozilla-menu {
    left: auto;
    display: none;
}

@media #{$mq-desktop} {
    .nav-global {
        height: 2.5em;
        padding: 1em 0;

        .logo {
            height: 40px;
            width: 126px;
        }

        &.is-minified {
            height: 1.2em;
            padding: .5em 0;

            .logo {
                height: 20px;
                width: 63px;
            }

            .nav-mozilla-menu {
                @include font-size-small;
                padding: .25em 0;

                .button {
                    @include font-size-small;
                    margin-top: -.35em;
                }
            }

            .nav-global-donate a:before,
            .nav-global-firefox a:before {
                margin-top: -.15em;
            }

            .nav-global-fxdownload .button {
                @include font-size-small;
                padding: .15em 20px;
            }
        }
    }

    .nav-mozilla {
        @include transition(margin-top 250ms ease-in);
        float: right;
        max-width: 75%;
        position: relative;

        .toggle {
            @include hidden;
        }
    }

    .nav-mozilla-menu {
        display: inline-block;
        background: transparent;
        box-shadow: none;
        margin-top: .25em;
        padding: 1em 0;
        position: static;
        width: auto;

        li {
            display: inline;
            border: 0;
            padding: 0 10px;
        }

        a {
            background: transparent;
            display: inline-block;
            padding: 0;

            &:hover,
            &:focus {
                background: transparent;
                border: 0;
            }
        }
    }

    .js .nav-mozilla-menu {
        display: inline-block;
    }
}

@media #{$mq-desktop} {
    .nav-mozilla-menu li {
        padding: 0 20px;
    }
}

// flexbox layout for savvy browsers to push nav items to the right
// @supports (display: flex) {
//     @media #{$mq-desktop} {
//         .nav-mozilla-menu,
//         .js .nav-mozilla-menu {
//             @include flexbox;
//             @include justify-content(flex-end);
//         }
//     }
// }
